* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/* header */
header {
display: flex;
gap: 30px;
justify-content: space-between;
font-size: 13px;
margin-bottom: 40px;
margin: 20px 50px;
}

header img {
  width: 140px;
  height: auto;
}

#bar {
  display: none;
}
nav ul {
  font-size: 15px;
  list-style: none;
  display: flex;
  gap: 30px;
}
nav a {
text-decoration: none;
color: #131d4f;
}
.sign-up-btn {
  background-color: #ed3500;
  color: white;
  padding: 8px;
  border-radius: 10px;
}
/* end-of-header */


/* hero-section */
.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-left: 50px;
}
.hero-content {
  width: 40vw;
}
.hero-content h1 {
  font-size: 40px;
  margin-bottom: 15px;
}
.hero-content p {
  font-size: 30px;
  color: #131d4f;
  margin-bottom: 25px;
}

.hero-content a {
  text-decoration: none;

}
.btn-chrome {
  background-color: #0046ff;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  margin-right: 10px;

}
.btn-firefox {
color: #131d4f;
background-color: #f7f7f7;
 padding: 10px;
 font-size: 20px;
 border-radius: 10px;
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.container {
  position: relative;
  display: inline-block;
}
.hero-image {
  background-color: #0046ff;
  border-bottom-left-radius: 80px;
  border-top-left-radius: 80px;
  width: 40vw;
  position: absolute;
  bottom: -70px;
  right: 0;
  z-index: 0;
  height: 50vh;
}
.img{
  width: 40vw;
  height: 50vh;
  position: relative;
  margin-right: 50px;
 z-index: 1;
}

/* features */
.FEATURES {
text-align: center;
margin: auto;
width: 50%;
}
.FEATURES h2 {
  margin-top: 100px;
  font-size: 35px;
  justify-content: center;
  color: #131d4f;
  margin-bottom: 10px;
}
.FEATURES p {
  color: #131d4f;
  font-size: 25px;
  margin-bottom: 20px;
}
.FEATURES li {
  list-style: none;
}
.FEATURES ul {
  display: flex;
  gap: 20px;
  font-size: 20px;
  justify-content: space-around;
  border-bottom: 2px solid #dfdfde;
  padding-bottom: 10px;
}
/* end-of-features */

/* section-1 */
.section-1 {
  display: flex;
  gap: 80px;
   justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 100px;
}

.container2 {
 position: relative;
  display: inline-block;
}
.decktop-section1-img {
  background-color: #0046ff;
  border-bottom-right-radius: 80px;
  border-top-right-radius: 80px;
  width: 40vw;
  position: absolute;
  bottom: -70px;
  left: -20px;
  z-index: 0;
  height: 50vh;
}
.section-1-img {
  width: 40vw;
  height: 50vh;
  position: relative;
  margin-left: 50px;
  z-index: 1;
  border-radius: 10px;
}
.content2 {
  width: 40vw;
  text-align: left;
  margin-top: 50px;
  margin-right: 50px;
}
.content2 h2 {
  font-size: 35px;
  margin-bottom: 12px;
}
.content2 p {
  font-size: 25px;
  color: #131d4f;
  margin-bottom: 30px;
  width: 30vw;
  
}

.content2 a {
  text-decoration: none;
  background-color: #0046ff;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

/* end-of-section-1 */

/* section-2 */
.section-2 {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}
.section-2 h2 {
  font-size: 35px;
}
.section-2 .paragraph {
  padding-top: 10px;
  font-size: 25px;
  color: #131d4f;
  margin: auto;
  width: 40vw;
  margin-bottom: 30px;
}
.card-1, .card-2, .card-3 {
  background-color: #f7f7f7;
  padding: 40px 20px 20px 20px;
  border-radius: 10px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}
.card-1 {
  margin-top: 0;
}
.card-2 {
  margin-top: 30px;
}
.card-3 {
  margin-top: 60px;
}
.cards {
display: flex;
gap: 10px;
justify-content: center;
align-items: flex-start;
}
.section-2 img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.section-2 .add {
   margin-bottom: 10px;
   font-weight: 700;
}
.section-2 .minimum {
    color: #131d4f;
     margin-bottom: 40px;
    padding-bottom: 40px;
     border-bottom: 1px solid grey;
    
}
.section-2 a {
  text-decoration: none;
  color: white;
  background-color: #0046ff;
  padding: 10px;
  border-radius: 10px;
}

/* end-of-section-2 */

/* faq */
.faq {
margin: auto;
  width: 70vw;
}
.faq h3 {
    margin-top: 60px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
}
.faq h6 {
  color: #131d4f;
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: 100;
}
.faq-item {
  border-bottom: 1px solid #131d4f;
  padding: 10px 0;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;


  position: relative;
min-height: 30px;
}
.faq-question::after{
  content: "+";
font-size: 30px;
position: absolute;
right: 0;
top: 50%;
transform: translateY(-50%);
display: inline-block;
align-items: center;
}
.faq-answer {
  display: none;
  padding-top: 5px;
  color: #333333;
}
.faq-item.active .faq-question::after {
  content: "-";
    color: #333333;
font-size: 60px;
}
.faq-item.active .faq-answer {
  display: block;
}
.faq a {
  text-decoration: none;
  color: white;
  background-color: #0046ff;
  padding: 10px;
  border-radius: 10px;
}
.faq .more {
    text-align: center;
    margin-top: 30px;
}
/* end-of-faq */
 


/* section-3 */
.section-3 {
margin-top: 30px;

padding-bottom: 35px;
text-align: center;
width: 100%;
background-color: #3674b5;
}
.section-3 .num {
  letter-spacing: 2px;
  font-size: 10px;
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
}
.section-3 .stay {
  font-size: 30px;
  margin: auto;
color: white;
  width: 50%;
  padding-bottom: 20px;
}

.div {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: flex-start;
    width: 80%;
    margin: auto;
}
.input {
  /* position: relative; */
  width: auto;
   width: 50%;
}
#email {
  padding: 10px;
  width: 100%;
}
#result {
  /* position: absolute; */
  /* left: 0;
  top: 100%; */
  margin-top: 3px;
  min-height: 0;
}
#contact {
  width: auto;
  color: white;
  background-color: #ed3500;
  padding: 12px 20px;
  border: none;
}



/* end-section-3 */
footer {
  display: flex;
  gap: 90px;
  padding: 20px 50px;
  background-color: #0b192c;
  width: 100%;
  justify-content: space-between;
}

footer ul {
  display: flex;
  gap: 30px;
}
footer li {
  list-style: none;
}
footer a {
  text-decoration: none;
  color: white;
}
.footer-logo {
display: flex;
gap: 15px;
}
i {
  background-color: white;
}


/* media query */
@media(min-width: 768px) and (max-width: 884px){
.hero {
  display: flex;

  justify-content: space-between;
  margin-top: 70px;
  margin-left: 50px;
}
.hero-content {
  width: 40vw;

}
.hero-content h1 {
  font-size: 50px;
  margin-bottom: 15px;
}
.hero-content p {
  font-size: 30px;
  color: #131d4f;
  margin-bottom: 25px;
}

.hero-content a {
  text-decoration: none;
}

.btn-chrome {
  background-color: #0046ff;
  color: white;
  padding: 10px;
  font-size: 17px;
  border-radius: 10px;
  margin-right: 10px;

}
.btn-firefox {
color: #131d4f;
background-color: #f7f7f7;
 padding: 10px;
 font-size: 17px;
 border-radius: 10px;
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.container {
  position: relative;
  display: inline-block;

}
.hero-image {
  background-color: #0046ff;
  border-bottom-left-radius: 80px;
  border-top-left-radius: 80px;
 width: 45vw;
  position: absolute;
  bottom: -50px;
  right: 0;
  z-index: 0;
  height: 40vh;
}
.img{
  width: 45vw;
  height: 40vh;
  position: relative;
  margin-right: 50px;
 z-index: 1;
}

.FEATURES h2{
  font-size: 50px;
}
.section-2 h2 {
   font-size: 50px;
}
.faq h3 {
  font-size: 50px;
}
.section-1 {
  display: flex;
  /* gap: 80px; */
   justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 100px;
}

.container2 {
 position: relative;
  display: inline-block;
}
.content2 h2 {
  font-size: 50px;
}
.decktop-section1-img {
  background-color: #0046ff;
  border-bottom-right-radius: 80px;
  border-top-right-radius: 80px;
  width: 40vw;
  position: absolute;
  bottom: -70px;
  left: -20px;
  z-index: 0;
  height: 40vh;
}
.section-1-img {
  width: 40vw;
  height: 40vh;
  position: relative;
  margin-left: 50px;
  z-index: 1;
  border-radius: 10px;
}


}
@media (max-width: 321px)  {
  .button {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 0;
    align-items: center;
    text-align: center;
   
  }
.hero-content a {
  text-decoration: none;
    font-size: 15px;
}
.btn-chrome {
  background-color: #0046ff;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  
}
.btn-firefox {
color: #131d4f;
background-color: #f7f7f7;
 padding: 10px;
 width: 50%;
 border-radius: 10px;
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}
.section-2 {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
  margin: auto;
}
.section-2 h2 {
  font-size: 35px;
}
.section-2 .paragraph {
  padding-top: 10px;
  font-size: 275px;
  color: #131d4f;
  margin: auto;
  color: red;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}
.faq-question {
  font-size: 13px;
}
.faq-answer {
  font-size: 13px;
}
}
@media(min-width: 320px) and (max-width: 440px) {
  #nav-link{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
   width: 100%;
  height: 100%;
  background-color: rgba(35, 47, 62, 0.95);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  gap: 40px;
  }
  #nav-link.show{
    
  display: flex;
  }
  #nav-link li a {
color: white;
font-size: 20px;
letter-spacing: 2px;
  }
  #menu-toggle{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 5001;
    background: none;
    border: none;

  }
   #menu-toggle.fixed {
    position: fixed;
    z-index: 3000;
   }
  #menu-toggle i {
    font-size: 28px;
     background: none;
  }
  header {
  
    margin-left: 30px;
    margin-right: 30px;
  }
  #bar {
  display: flex;
  font-size: 25px;
  }
  .sign-up-btn {
    color: white;
    background: none;
    border: 2px solid white;
    padding: 10px 80px;
  }


.hero {
  margin-top: 70px;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  order: 1;
  margin-bottom: 120px;
  position: relative;
  display: inline-block;
}

.hero-image {
  background-color: #0046ff;
  border-bottom-left-radius: 80px;
  border-top-left-radius: 80px;
  position: absolute;
  bottom: -50px;
  right: 0px;
  z-index: 0;
  width: 80%;
  height: 100%;
}
.img{
  height: 50%;
  width: 80%;
  position: relative;
  margin-right: 50px;
  z-index: 1;
}
.hero-content {
order: 2;
width: 100%;
margin-right: 50px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
gap: 15px;
}
.hero h1 {
  margin: 0;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero p {
   font-size: 25px;
   margin: 0 30px;
     align-items: center;
   justify-content: center;
    text-align: center;
}
.button {
display: flex;
gap: 3px;
justify-content: center;

}
.button a {
    font-size: 15px;
}
.btn-chrome .btn-firefox{
  padding: 15px;
  font-size: 1px;
}



.FEATURES {
text-align: center;
margin: auto;
width: 80%;
}
.FEATURES h2 {
  margin-top: 100px;
  font-size: 35px;
  justify-content: center;
  color: #131d4f;
  margin-bottom: 10px;
}
.FEATURES p {
  color: #131d4f;
  font-size: 25px;
  margin-bottom: 30px;
}
.FEATURES li {
  list-style: none;
}
.FEATURES ul {
  display: flex;
  gap: 20px;
  font-size: 15px;
  justify-content: space-around;
  border-bottom: 2px solid #dfdfde;
  padding-bottom: 10px;
}
.section-1 {
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 100px;
}
.container2 {
 position: relative;
 display: inline-block;
}
.decktop-section1-img {
  background-color: #0046ff;
  border-bottom-right-radius: 80px;
  border-top-right-radius: 80px;
  position: absolute;
  bottom: -70px;
  z-index: 0;
  width: 80%;
  height: 100%;
}
.section-1-img {
  height: 50%;
  width: 80%;
  position: relative;
  z-index: 1;
  border-radius: 10px;
}
.content2 {
  width: 80%;
  margin: auto;
   margin-top: 50px;
  text-align: center;
}
.content2 h2 {
  font-size: 35px;
  margin-bottom: 12px;
}
.content2 p {
  text-align: center;
  font-size: 25px;
  color: #131d4f;
  margin-bottom: 30px;
  width: 100%;
}
.content2 a {
  text-decoration: none;
  background-color: #0046ff;
  padding: 10px;
  border-radius: 10px;
  color: white;
}


.section-2 {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  width: 80%;
  margin: auto;
}
.section-2 h2 {
  font-size: 35px;
}
.section-2 .paragraph {
  padding-top: 10px;
  font-size: 25px;
  color: #131d4f;
  margin: auto;
  
  width: 100%;
  margin-bottom: 30px;
}
.card-1, .card-2, .card-3 {
  background-color: #f7f7f7;
  padding: 40px 20px 20px 20px;
  border-radius: 10px;
  width: 100%;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}
.card-1 {
  margin-top: 15px;
  padding-bottom: 30px;
}
.card-2 {
  margin-top: 15px;
   padding-bottom: 30px;
}
.card-3 {
  margin-top: 15px;
   padding-bottom: 30px;
}
.cards {
flex-direction: column;

justify-content: center;
align-items: center;
}
.section-2 img {
  width: 50%;
  height: 50%;
  margin-bottom: 20px;
}
.section-2 .add {
   margin-bottom: 10px;
    font-size: 30px;
   font-weight: 700;
}
.section-2 .minimum {
    color: #131d4f;
    font-size: 20px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid grey;
    
}
.section-2 a {
  text-decoration: none;
  color: white;
  background-color: #0046ff;
  padding: 10px;
  border-radius: 10px;
}


.faq {
margin: auto;
  width: 80vw;
}
.faq h3 {
    margin-top: 60px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
}
.faq h6 {
  color: #131d4f;
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: 100;
}
.faq-item {
  border-bottom: 1px solid #131d4f;
  padding: 10px 0;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;


  position: relative;
min-height: 30px;
}
.faq-question::after{
  content: "+";
font-size: 30px;
position: absolute;
right: 0;
top: 50%;
transform: translateY(-50%);
display: inline-block;
align-items: center;

}
.faq-answer {
  display: none;
  padding-top: 5px;
  color: #333;
}
.faq-item.active .faq-question::after {
  content: "-";
    font-size: 60px;
}
.faq-item.active .faq-answer {

  display: block;
}
.faq a {
  text-decoration: none;
  color: white;
  background-color: #0046ff;
  padding: 10px;
  border-radius: 10px;
}
.faq .more {
    text-align: center;
    margin-top: 30px;
}


.section-3 {
margin-top: 30px;
padding-bottom: 20px;
text-align: center;
width: 100%;
background-color: #3674b5;
}
.section-3 .num {
  letter-spacing: 2px;
  font-size: 10px;
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
}
.section-3 .stay {
  font-size: 30px;
  margin: auto;
color: white;
  width: 80%;
  padding-bottom: 20px;
}

.div {
  display: flex;
  flex-direction: column;
  gap: 5px;
 text-align: center;
}

#contact {
  width: 80%;
  margin: auto;
}
.input {
  width: 80%;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
#email{
  width: 100%;
}
#result {
  font-size: 14px;
  margin-top: 3px;
  text-align: left;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px 50px;
  background-color: #0b192c;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}
footer li {
  list-style: none;
}
footer a {
  text-decoration: none;
  color: white;
}
.footer-logo {
display: flex;
gap: 20px;
}
i {
  background-color: white;
}

}
